# Flask
FLASK_SECRET_KEY=#adfwera@#ASDFw3e23^43adfawewASD
FLASK_DEBUG=False
# LLM API Keys
GEMINI_API_KEY=AIzaSyBAHsqMMLQMP8xWIIzRgZnw9UyA29mCbvM
NVIDIA_API_KEY=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
# Authentication (single admin)
ADMIN_PASSWORD=Zucchinimia@27
# Paths
CHROMA_PATH=./database/chroma
DATABASE_PATH=./database/metadata.db
# Upload limits
MAX_FILE_SIZE_MB=50
UPLOAD_FOLDER=./uploads
# Logging
LOG_LEVEL=INFO
LOG_FILE=./logs/lecturelens.log
CHUNK_SIZE=500
OVERLAP=100